@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--light-grayish-blue);
    font-family: "Barlow Semi Condensed", sans-serif;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    padding: 7rem 2.4rem 0 2.4rem;
}

#testimonials-grid {
    display: grid;
    gap: 2.5rem;
    grid-auto-flow: row;
}

#daniel {
    background-color: var(--moderate-violet);
    background-image: url(../images/bg-pattern-quotation.svg);
    background-size: auto 102px;
    background-position: top 0 right 2.4rem;
    background-repeat: no-repeat;
}

#jonathan {
    background-color: var(--very-dark-grayish-blue);
}

#jeanette {
    background-color: var(--white);
}

#patrick {
    background-color: var(--very-dark-blackish-blue);
}

#kira {
    background-color: var(--white);
}

.card {
    padding: 2.5rem 3.3rem 3.3rem 3.2rem;
    border-radius: 0.8rem;
    display: grid;
    row-gap: 1.8rem;
    grid-auto-flow: row;
}

.dark-card {
    color: var(--light-grayish-blue);
}

.light-card {
    color: var(--very-dark-grayish-blue);
}

.card-header {
    display: grid;
    grid-template-areas:
        "image name"
        "image verified";

    justify-content: start;
    column-gap: 1.6rem;
}

.card-header img {
    grid-area: image;
    height: 31px;
    width: 31px;
    border-radius: 50%;
    border: 1px solid var(--light-grayish-blue);
}

.grad-name {
    grid-area: name;  
    font-size: 1.2rem;
    font-weight: 500;
    color: inherit;
}

.verified-grad {
    grid-area: verified;  
    color: inherit;
    font-size: 1.1rem;
    opacity: 0.5;
}

.heading {
    font-size: 2rem;
    color: inherit;
}

.paragraph {
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: inherit;
    opacity: 0.7;
    font-weight: 500;
}

footer {
    line-height: 3rem;
    margin: 3rem 0 1rem 0;
}

@media (min-width: 600px) {

    #testimonials-grid {
        grid-auto-flow: unset;
        grid-template-columns: repeat(2, 255px);
        grid-template-areas:
            "daniel     daniel"
            "jonathan   jeanette"
            "patrick    patrick"
            "kira       kira";
   }

   
   #daniel {
    grid-area: daniel;
    }

    #jonathan {
        grid-area: jonathan
    }

    #jeanette {
        grid-area: jeanette;
    }

    #patrick {
        grid-area: patrick;
    }

    #kira {
        grid-area: kira;
    }

}

@media (min-width: 900px) {

    #testimonials-grid {
        grid-template-columns: repeat(3, 255px);
        gap: 3rem;
        grid-template-areas:
        "daniel     daniel      jeanette"
        "jonathan   patrick     patrick"
        "kira       kira        kira";
   }

   #daniel {
    background-position: top 0 right 8rem;
    }

}

@media (min-width: 1200px) {

    #testimonials-grid {
        grid-template-columns: repeat(4, 255px);
        grid-template-areas:
            "daniel     daniel      jonathan    kira"
            "jeanette   patrick     patrick     kira";
   }

}